/* Glass pieces */

.rook-dark[data-theme="glass"] {
    background: url(../assets/glass-pieces/rook-dark.png);
}
.bishop-dark[data-theme="glass"] {
    background: url(../assets/glass-pieces/bishop-dark.png);
}
.knight-dark[data-theme="glass"] {
    background: url(../assets/glass-pieces/knight-dark.png);
}
.queen-dark[data-theme="glass"] {
    background: url(../assets/glass-pieces/queen-dark.png);
}
.king-dark[data-theme="glass"] {
    background: url(../assets/glass-pieces/king-dark.png);
}
.pawn-dark[data-theme="glass"] {
    background: url(../assets/glass-pieces/pawn-dark.png);
}
.rook-light[data-theme="glass"] {
    background: url(../assets/glass-pieces/rook-light.png);
}
.bishop-light[data-theme="glass"] {
    background: url(../assets/glass-pieces/bishop-light.png);
}
.knight-light[data-theme="glass"] {
    background: url(../assets/glass-pieces/knight-light.png);
}
.queen-light[data-theme="glass"] {
    background: url(../assets/glass-pieces/queen-light.png);
}
.king-light[data-theme="glass"] {
    background: url(../assets/glass-pieces/king-light.png);
}
.pawn-light[data-theme="glass"] {
    background: url(../assets/glass-pieces/pawn-light.png);
}

/* Neon pieces */

.rook-dark[data-theme="neon"] {
    background: url(../assets/neon-pieces/rook-dark.png);
}
.bishop-dark[data-theme="neon"] {
    background: url(../assets/neon-pieces/bishop-dark.png);
}
.knight-dark[data-theme="neon"] {
    background: url(../assets/neon-pieces/knight-dark.png);
}
.queen-dark[data-theme="neon"] {
    background: url(../assets/neon-pieces/queen-dark.png);
}
.king-dark[data-theme="neon"] {
    background: url(../assets/neon-pieces/king-dark.png);
}
.pawn-dark[data-theme="neon"] {
    background: url(../assets/neon-pieces/pawn-dark.png);
}
.rook-light[data-theme="neon"] {
    background: url(../assets/neon-pieces/rook-light.png);
}
.bishop-light[data-theme="neon"] {
    background: url(../assets/neon-pieces/bishop-light.png);
}
.knight-light[data-theme="neon"] {
    background: url(../assets/neon-pieces/knight-light.png);
}
.queen-light[data-theme="neon"] {
    background: url(../assets/neon-pieces/queen-light.png);
}
.king-light[data-theme="neon"] {
    background: url(../assets/neon-pieces/king-light.png);
}
.pawn-light[data-theme="neon"] {
    background: url(../assets/neon-pieces/pawn-light.png);
}