/* Glass pieces */

.rook-dark[data-theme="glass"] {
    background: url(../assets/glass-pieces/rook-dark.png);
}
.bishop-dark[data-theme="glass"] {
    background: url(../assets/glass-pieces/bishop-dark.png);
}
.knight-dark[data-theme="glass"] {
    background: url(../assets/glass-pieces/knight-dark.png);
}
.queen-dark[data-theme="glass"] {
    background: url(../assets/glass-pieces/queen-dark.png);
}
.king-dark[data-theme="glass"] {
    background: url(../assets/glass-pieces/king-dark.png);
}
.pawn-dark[data-theme="glass"] {
    background: url(../assets/glass-pieces/pawn-dark.png);
}
.rook-light[data-theme="glass"] {
    background: url(../assets/glass-pieces/rook-light.png);
}
.bishop-light[data-theme="glass"] {
    background: url(../assets/glass-pieces/bishop-light.png);
}
.knight-light[data-theme="glass"] {
    background: url(../assets/glass-pieces/knight-light.png);
}
.queen-light[data-theme="glass"] {
    background: url(../assets/glass-pieces/queen-light.png);
}
.king-light[data-theme="glass"] {
    background: url(../assets/glass-pieces/king-light.png);
}
.pawn-light[data-theme="glass"] {
    background: url(../assets/glass-pieces/pawn-light.png);
}

/* Neon pieces */

.rook-dark[data-theme="neon"] {
    background: url(../assets/neon-pieces/rook-dark.png);
}
.bishop-dark[data-theme="neon"] {
    background: url(../assets/neon-pieces/bishop-dark.png);
}
.knight-dark[data-theme="neon"] {
    background: url(../assets/neon-pieces/knight-dark.png);
}
.queen-dark[data-theme="neon"] {
    background: url(../assets/neon-pieces/queen-dark.png);
}
.king-dark[data-theme="neon"] {
    background: url(../assets/neon-pieces/king-dark.png);
}
.pawn-dark[data-theme="neon"] {
    background: url(../assets/neon-pieces/pawn-dark.png);
}
.rook-light[data-theme="neon"] {
    background: url(../assets/neon-pieces/rook-light.png);
}
.bishop-light[data-theme="neon"] {
    background: url(../assets/neon-pieces/bishop-light.png);
}
.knight-light[data-theme="neon"] {
    background: url(../assets/neon-pieces/knight-light.png);
}
.queen-light[data-theme="neon"] {
    background: url(../assets/neon-pieces/queen-light.png);
}
.king-light[data-theme="neon"] {
    background: url(../assets/neon-pieces/king-light.png);
}
.pawn-light[data-theme="neon"] {
    background: url(../assets/neon-pieces/pawn-light.png);
}

/* Standart pieces */

.rook-dark[data-theme="standart"] {
    background: url(../assets/standart-pieces/rook-dark.png);
}
.bishop-dark[data-theme="standart"] {
    background: url(../assets/standart-pieces/bishop-dark.png);
}
.knight-dark[data-theme="standart"] {
    background: url(../assets/standart-pieces/knight-dark.png);
}
.queen-dark[data-theme="standart"] {
    background: url(../assets/standart-pieces/queen-dark.png);
}
.king-dark[data-theme="standart"] {
    background: url(../assets/standart-pieces/king-dark.png);
}
.pawn-dark[data-theme="standart"] {
    background: url(../assets/standart-pieces/pawn-dark.png);
}
.rook-light[data-theme="standart"] {
    background: url(../assets/standart-pieces/rook-light.png);
}
.bishop-light[data-theme="standart"] {
    background: url(../assets/standart-pieces/bishop-light.png);
}
.knight-light[data-theme="standart"] {
    background: url(../assets/standart-pieces/knight-light.png);
}
.queen-light[data-theme="standart"] {
    background: url(../assets/standart-pieces/queen-light.png);
}
.king-light[data-theme="standart"] {
    background: url(../assets/standart-pieces/king-light.png);
}
.pawn-light[data-theme="standart"] {
    background: url(../assets/standart-pieces/pawn-light.png);
}

/* Modern pieces */

.rook-dark[data-theme="modern"] {
    background: url(../assets/modern-pieces/rook-dark.png);
}
.bishop-dark[data-theme="modern"] {
    background: url(../assets/modern-pieces/bishop-dark.png);
}
.knight-dark[data-theme="modern"] {
    background: url(../assets/modern-pieces/knight-dark.png);
}
.queen-dark[data-theme="modern"] {
    background: url(../assets/modern-pieces/queen-dark.png);
}
.king-dark[data-theme="modern"] {
    background: url(../assets/modern-pieces/king-dark.png);
}
.pawn-dark[data-theme="modern"] {
    background: url(../assets/modern-pieces/pawn-dark.png);
}
.rook-light[data-theme="modern"] {
    background: url(../assets/modern-pieces/rook-dark.png);
    filter: invert(1);
}
.bishop-light[data-theme="modern"] {
    background: url(../assets/modern-pieces/bishop-dark.png);
    filter: invert(1);
}
.knight-light[data-theme="modern"] {
    background: url(../assets/modern-pieces/knight-dark.png);
    filter: invert(1);
}
.queen-light[data-theme="modern"] {
    background: url(../assets/modern-pieces/queen-dark.png);
    filter: invert(1);
}
.king-light[data-theme="modern"] {
    background: url(../assets/modern-pieces/king-dark.png);
    filter: invert(1);
}
.pawn-light[data-theme="modern"] {
    background: url(../assets/modern-pieces/pawn-dark.png);
    filter: invert(1);
}

/* Leather board */

.chess-board[data-theme="leather"] {
    background: url(../assets/textures/leather-texture.jpg) 50% 113%;
    background-size: contain;
}
.dark-cell[data-theme="leather"] {
    background: #3f1009a0;
}
.light-cell[data-theme="leather"] {
    background: #ffffff50;
}

/* Light wood board */

.chess-board[data-theme="light-wood"] {
    background: url(../assets/textures/light-wood-texture.jpg) 50% 113%;
    background-size: contain;
}
.dark-cell[data-theme="light-wood"] {
    background: #240703a0;
}
.light-cell[data-theme="light-wood"] {
    background: #2c2c2c54;
}

/* Light space board */

.chess-board[data-theme="light-space"] {
    background: url(https://imgix.bustle.com/uploads/getty/2020/4/25/ba433b45-1ae3-4757-a7bb-239cf56d3fd5-getty-1218538177.jpg?w=1200&h=630&fit=crop&crop=faces&fm=jpg);
    background-size: cover;
}
.dark-cell[data-theme="light-space"] {
    background: #0e1c414f;
}
.light-cell[data-theme="light-space"] {
    background: #d7d6ffc5;
}

/* Dark space board */

.chess-board[data-theme="dark-space"] {
    background: url(../assets/textures/space-texture.png) 20% 114%;
    background-size: cover;
}
.dark-cell[data-theme="dark-space"] {
    background: #8f8f8f4f;
}
.light-cell[data-theme="dark-space"] {
    background: #c8d6ff9a;
}

/* Marble board */

.chess-board[data-theme="marble"] {
    background: none;
}
.dark-cell[data-theme="marble"] {
    background: url(../assets/textures/black-marble-cell-texture.jpg);
    background-size: 400%;
}
.light-cell[data-theme="marble"] {
    background: url(../assets/textures/white-marble-cell-texture.jpg);
    background-size: 200%;
}

/* marble
leather
light-space
dark-space
light-wood */